@model IEnumerable<QMP.ViewModels.Radar_ViewModel>

@{
    ViewBag.Title = "雷达监测";
    Layout = "~/Areas/WeiXin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .imgitem {
        color: blue;
    }
</style>
<div style="width: 100%;">
    <img width="100%" id="currentimg" src="http://www.qdqx.net.cn/radar/@Model.LastOrDefault().Name" style=" position: absolute; top: 0;" />
    @*@if (ViewBag.City == "胶州市")
    {
        <img width="100%" src="~/Content/images/jiaozhouradarbianjie.png" style=" position: absolute; top: 0;z-index:999;" />

    }*@


</div>



<table style="position: fixed; bottom:55px;z-index:100000">

    @*<tr>
            <td>
                <img width="100%" id="currentimg" src="http://www.qdqx.net.cn/radar/@Model.LastOrDefault().Name" style="display: none;" />
                <img width="100%" src="~/Content/images/jiaozhouradarbianjie.png" style=" position: absolute; top: 0;z-index:999;" />
            </td>
        </tr>*@


    <tr>
        <td style="padding: 5px; overflow: hidden;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50px;">
                        <span id="playbtn" class="glyphicon glyphicon-play" style="font-size: 30px; color: #27aaff;"></span>

                    </td>
                    <td style="padding-right: 5px;">
                        <div id="slider-range-max"></div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <ul style="list-style: none;">
                @foreach (var item in Model)
                {
                    <li style="float: left; padding: 5px;">
                        <a class="imgitem" data-name="@item.Name">@item.ShortName</a>
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>



<div style="width: 100%; height: 50px; background-color: #ffffff; position: fixed; bottom: 0;z-index:108900">

    <ul class="nav-ul">
        <li>

            @Html.ActionLink("雷达监测", "Radar", "Live", new { Area = "WeiXin",city=ViewBag.City}, null)
        </li>
        <li>
            @Html.ActionLink("卫星云图", "Cloud", "Live", new { Area = "WeiXin", city = ViewBag.City }, null)


        </li>
    </ul>
</div>
<style type="text/css">
    .nav-ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        list-style: none;
    }

        .nav-ul li {
            float: left;
            width: 50%;
            height: 100%;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

            .nav-ul li:last-child {
                border-right: none;
            }

            .nav-ul li a {
                text-decoration: none;
                color: #2b2b2b;
                line-height: 50px;
                text-align: center;
                display: block;
                height: 50px;
                width: 100%;
            }

                .nav-ul li a:hover {
                    background-color: #808080;
                }

                .nav-ul li a:active {
                    background-color: rgb(16, 117, 175);
                }
</style>

@section Scripts{
    @*<link href="~/Content/themes/base/slider.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript">
        $(function () {
            var allimg = $(".imgitem").map(function () { return $(this).data("name"); }).get().join(",");
            console.log(allimg);
            var arr = allimg.split(",");
            $(".imgitem").click(function (e) {
                var currentname = $(e.target).data("name");

                console.log(currentname);
                $("#currentimg").attr("src", "http://www.qdqx.net.cn/radar/" + currentname);
            });

            var dingshi;
            var i = 0;
            var isplaying = false;


            $("#playbtn").click(function (e) {
                console.log("dsad");
                if (isplaying === false) {
                    $("#playbtn").attr("class", "glyphicon glyphicon-pause");
                    dingshi = window.setInterval(play, 1000); //300秒（5分钟）
                    isplaying = true;
                } else {
                    $("#playbtn").attr("class", "glyphicon glyphicon-play");
                    isplaying = false;
                    if (dingshi && dingshi != null) {
                        window.clearInterval(dingshi);
                        dingshi = null;

                    }
                }



            });
            function play(e) {
                $("#slider-range-max").slider("value", i + 1);
                if (i < arr.length) {

                    //$("#slider-range-max").slider("value", i + 1);

                    $("#currentimg").attr("src", "http://www.qdqx.net.cn/radar/" + arr[i]);

                    //$("#cloudselect").val(allimg[i]);

                    // $('a[name=" + arr[i] + "]').css("color", "red");

                    // $('.imgitem[data-name=" + arr[i] + "]').attr("class");
                    //$('a[name=" + arr[i] + "]').css("color", "red");

                    i++;
                } else {
                    i = 0;
                    $("#currentimg").attr("src", "http://www.qdqx.net.cn/radar/" + arr[i]);
                    //$("#cloudselect").val(allimg[i]);
                    console.log(i);

                    i++;
                }
                $(".imgitem").css("color", "blue");
                $("a[data-name='" + arr[i] + "']").css("color", "red");

            }


            $(function () {
                $("#slider-range-max").slider({
                    range: "max",
                    min: 1,
                    max: arr.length,
                    value: arr.length,
                    slide: function (event, ui) {

                        isplaying = false;
                        if (dingshi && dingshi != null) {
                            window.clearInterval(dingshi);
                            dingshi = null;

                        }

                        $("#playbtn").attr("class", "glyphicon glyphicon-play");


                        // $( "#amount" ).val( ui.value );
                        $("#currentimg").attr("src", "http://www.qdqx.net.cn/radar/" + arr[ui.value - 1]);

                        $(".imgitem").css("color", "blue");
                        $("a[data-name='" + arr[ui.value - 1] + "']").css("color", "red");
                    }
                });
                //$( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );
            });


        });


    </script>
}

